// #primary colors
$black : #000000;
$primary : #5243AA;
$white : #FFFFFF;
// #semantic colors
$red : #BF2600;
$orange : #FF8B00;
$yellow : #FFC400;
$green : #00875A;
$blue : #0052CC;
// Neutral colors
// lights
$light-one: #C1C7D0;
$light-two :#DFE1E6;
$light-three: #EBECF0;
$light-four: #F4F5F7;
$light-five :#FAFBFC;
// darks
$dark-one: #091E42;
$dark-two :#172B4D;
$dark-three: #253858;
$dark-four: #344563;
$dark-five :#42526E;
// tints
$tint-one :#6356b3;
$tint-two:#7569bb;
$tint-three: #978ecc;
$tint-four :#a9a1d5;
$tint-five:#bab4dd;
// shades
$shade-one:#4a3c99;
$shade-two :#423688;
$shade-three:#392f77;
$shade-four: #312866;
$shade-five :#292255;
$shade-six:#191433;